.App {
  width: 40%;
  top: 50%;
  left: 50%;
  background: white;
  border-radius: 10px;
  min-width: 450px;
  position: absolute;
  min-height: 100px;
  transform: translate(-50%, -50%);
}

h2 {
  position: absolute;
  top: 15%;
  left: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: underline;
  border-radius: 10px;
  min-width: 450px;
  min-height: 20px;
  cursor: pointer;
}
